    <footer class="container-fluid mt-4 fw-bold pt-2 text-white text-center">
    <hr>
        <p>&copy;  App symfony Studio de muqique. Tous droits réservés.<br>
            Made with <span class="text-danger">&hearts;</span> by Romy</a>
        </p>
    </footer>